/* font-family: "Aclonica", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("//fonts.googleapis.com/css2?family=Bungee:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");


/* header-navbar */
.navbar-container {
    font-family: "Bungee", display;
    font-weight: 300;
    background-color: #334421;
}

.navbar-container .logo {
    width: 5%;
}

.navbar-container h2 {
    color: #FDCF8B;
    font-family: "Aclonica", sans-serif;
    font-size: 2em;
}

.navbar-container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.navbar-container .hamburger {
    display: none;
}

.navbar-container .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.navbar-container .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .nav-item {
    margin-left: 1rem;
    list-style: none;
}

.navbar-container .nav-link {
    font-size: 2.5vh;
    color: #FDCF8B;
}

.navbar-container .nav-link:hover {
    color: #e0ebdd;
}

.nav-item a {
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    .navbar-container .logo {
        width: 25%;
    }

    .navbar-container h2 {
        color: #FDCF8B;
        font-family: "Aclonica", sans-serif;
        font-size: 1.3em;
    }

    .navbar-container .navbar {
        padding: 5%;
    }

    .navbar-container .nav-menu {
        position: fixed;
        left: -110%;
        top: 5rem;
        flex-direction: column;
        background-color: #111111;
        width: 90%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 1;
    }

    .navbar-container .nav-menu.active {
        left: 0;
        z-index: 1;
    }

    .navbar-container .nav-item {
        margin: 2.5rem 0;
        list-style: none;
    }

    .navbar-container .hamburger {
        display: block;
        cursor: pointer;
        z-index: 1;
    }

    .navbar-container .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-container .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-container .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* bienvenidos */

.contenedor1 {

    text-align: center;
    margin: 10%;
    
    

}





.contenedor1 h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    /* font-style: italic;
    font-weight: bolder; */
}

.contenedor1 p {
    font-family: "Roboto";
    font-style: italic;
    
}

/* Items-Inicio */
.contenedor2 {
    text-align: center;
    padding: 8%;
    background-image: url('https://i.pinimg.com/736x/74/49/8b/74498b2ce3e0523515d278996b9a8e4f.jpg');
    /* reemplazá con la ruta real */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.item_inicio img {
    border-radius: 10px;

}

.item_inicio h5 {
    font-family: "Roboto";
    color: black;
    
}

.item_inicio p {
    font-family: "Roboto";
    font-style: italic;
    color: #050505;
    padding-top: 13px;
    
}

/* para computadora */
@media (min-width: 800px) {
    .contenedor2 {
        display: flex;
        justify-content: space-between;
        padding: 10%;
        gap: 10px;
        background-image: url('https://i.pinimg.com/736x/74/49/8b/74498b2ce3e0523515d278996b9a8e4f.jpg');
        /* reemplazá con la ruta real */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    .item_inicio {
        width: 28%;
        border: 2px solid #272525;
        border-radius: 5px;
        text-align: center;
        padding: 13px;
        box-sizing: border-box;
        box-shadow: 0px 3px 10px 1px #413f3f;
    }

    .item_inicio img {
        border-radius: 3px;

    }

    .item_inicio h5 {
        font-family: "Roboto";
        color: black;
    }

    .item_inicio p {
        font-family: "Roboto";
        font-style: italic;
        color: #0e0d0d;
        padding-top: 13px;
    }

    .contenedor1 {

        text-align: center;
        background-color:#f7f4f1;
        padding-bottom: 3%;
        padding-top: 3%;
        margin: 0%;
     
    }
/* Paragraph */
main .contenedor1 p{
 border-width:0px;
 padding-left:0px;
 margin-left:200px;
 margin-right:200px;
}

    


}


/* footer */

.footer {
    background-color:#F7F4F1 ;
    padding-bottom: 20px;
    padding-top: 3%;
    text-align: center;
}

.footer h4 {

    font-size: larger;
    color: rgb(14, 13, 13);
    text-align: center;
    font-family: "Roboto";
    font-style: italic;
    font-weight: bolder;
}

.footer div.social-link {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 2%;
}

.social-link a {
    color: rgb(12, 12, 12);
    font-size: 30px;
    transition: transform 0.3s ease;
    /* Suaviza el efecto */
}

.social-link a:hover {
    transform: scale(1.4);

}


.footer p {
    text-align: center;
}



@media only screen and (max-width: 768px) {
    .footer {
        background-color: rgb(193, 204, 204);
        padding-bottom: 20px;
        padding-top: 3%;
        text-align: center;
    }

    .footer h4 {

        font-size: larger;
        color: rgb(22, 22, 22);
        text-align: center;
        font-family: "Roboto";
        font-style: italic;
        font-weight: bolder;
        margin-top: 5px;
    }

    .social-link a {
        color: rgb(12, 12, 12);
        font-size: 30px;
        transition: transform 0.3s ease;
    }

    .social-link a:hover {
        transform: scale(1.4);
        /* Agranda el ícono al 120% */
    }

    .footer div.social-link {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 6%;
    }

    .footer p {
        text-align: center;
    }

    .logo_footer img {
        width: 20%;
    }
}